<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  


    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Custome css files -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Header section starts -->
    <div class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo">Whroom</a>

        <nav class="navbar">
            <a href="#home" >home </a>
            <a href="#car">cars</a>
            <a href="#services">services</a>
            <a href="#faq">FAQ</a>
            <a href="#">partner</a>
            <a href="#contact">contact</a>
            <a href="/Booking/Index">Booking As Customer</a>
            <a href="/Buddy/Index">Booking As Buddy</a>
        </nav>

        <div id="login-btn">
            <button class="btn">login</button>
            <i class="far fa-user"></i>
        </div>
    </div>
    <!-- Header section ends -->
    <!-- login form or popup box -->

    <div class="login-form-container">
        <span class="fas fa-times" id="close-login-form"></span>
        <div class="form">
            <p>become a partner & earn with us</p>
        </div>

    </div>

    <!-- login form ends -->
    <!-- home section starts -->

    <section class="home" id="home">
        <h1 class="home-parallax" data-speed="5">rent self drive car</h1>
        <img class="home-parallax" src="img/header_img.png" alt="">
        <span class="btn home-parallax" data-speed="7">why whroom ?</span>
    </section>

    <!-- home section ends -->
    <!-- why whroom starts section -->

    <section class="icons-container" id="services">

        <div class="icon">
            <i class="fas fa-home"></i>
            <div class="content">
                <h3>home delivery & return</h3>
                <p>on-time doorstep service at your location</p>
            </div>
        </div>

        <div class="icon">
            <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i>
            <div class="content">
                <h3>flexible rental</h3>
                <p>decide whether you'd like to rent <br> a car for an hour, a week, a month <br> or on daily basis</p>
            </div>
        </div>

        <div class="icon">
            <i class="fas fa-car"></i>
            <div class="content">
                <h3>well maintained cars</h3>
                <p>Regular service & maintenance <br> inspected before each trip</p>
            </div>
        </div>
    </section>


    <!-- why whroom ends section -->
    <!-- why whroom Sanitized section -->

    <section class="icons-sanitize" id="services">
        <h3>sanitized & safe cars</h3>
        <div class="icon-box" style>
            <div class="icons">
                <i class="fa-solid fa-pump-medical"></i>
                <div class="content">
                    <p>internal & external sanitisation</p>
                </div>
            </div>



            <div class="icons">
                <i class="fa-solid fa-car"></i>
                <div class="content">
                    <p>contact-less doorstep delivery</p>
                </div>
            </div>



            <div class="icons">
                <i class="fa-solid fa-hands-bubbles"></i>
                <div class="content">
                    <p>safety & hygiene best practices</p>
                </div>
            </div>


    </section>

    <!-- why whroom Sanitized section ends -->


    <section class="icons-sanitize" id="services">
        <h3>Featured</h3>
        <div class="icon-box">
            <div class="icons">
                <i class="fa-solid fa-tags"></i>
                <div class="content">
                    <span>flat 5% off</span>
                    <p>for corporate employees</p>
                    <div class="offer">safe drive with whroom</div>
                </div>
            </div>



            <div class="icons">
                <i class="fa-solid fa-car"></i>
                <div class="content">
                    <span>need a car for few months</span>
                    <p>minimum 1 month extension anytime</p>
                    <div class="offer">safe drive with whroom</div>
                </div>
            </div>



            <div class="icons">
                <i class="fa-solid fa-tags"></i>
                <div class="content">
                    <span>flat 10% off</span>
                    <p>for all users</p>
                    <div class="offer">safe drive with whroom</div>
                </div>
            </div>


    </section>


    <!-- FAQ section -->
    <section class="faq" id="faq">
        <h1 class="heading">FAQ's</h1>

        <div class="box-container">

            <div class="box">
                <h3>What is Whroom?</h3>
                <p>
                    Whroom is a self drive car rental service that provides you with all the privacy, fun and convenience
                    of your own car, without the hassles of owning and maintaining one. We drop and pick-up cars from
                    your doorstep, so that you can spend time on the more important things. The doorstep drop and
                    pick-up of cars is our standard way of serving you, and is available throughout the areas served by
                    us in your own prime location Delhi/NCR and Gurugram.
                </p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>Am I eligible to use Whroom services?</h3>
                <p>
                    To avail Whroom's services, you must be at least 21 years old, and your driving license for "Light
                    Motor Vehicles" must be at least 2 years old ( at the time of starting the trip ). Driving license
                    printed on A4 sheet of paper ( original or otherwise ), driving license on Digi locker or
                    M-Parivaahan app and commercial driving licenses will not be accepted.
                </p>

                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>Why Whroom?</h3>
                <p>
                    One must never stop travelling, that's why we are providing our customers unlimited Kms with every
                    booking. Also, why you need to book for full day when you can rent for 8 hours and enjoy your ride.
                    There is absolutely no limit to the kilometres that you can drive, and you have complete flexibility
                    of driving the car as much as you want. Whroom Whroom it up!
                </p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>Which are the areas where I can available Whroom's services?</h3>
                <p>Delhi NCR : We are covering most parts of Delhi and Gurgaon and some parts of Noida</p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>Restrictions on where to travel?</h3>
                <p>
                    Interstate taxes at the state borders are to be borne by the customer. Our cars are equipped with
                    Fast tag devices for your convenience. The toll charges incurred during your trip will be billed to
                    you in your invoice.
                </p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>Is Pickup and Drop available?</h3>
                <p>
                    Yes, we provide pickup and drop service at your convenience location. You may also choose different
                    pickup location. However, this option needs to be chosen while making the booking, before its
                    confirmed.
                </p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>What is corporate discount?</h3>
                <p>
                    5% Corporate discounts are available to the customers who have ID proof of there existing company.
                </p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>

            <div class="box">
                <h3>What kind of Cars can I choose from?</h3>
                <p>We have variety of cars from which you can choose i.e., Hatchback, Sedan, SUV</p>
                <!-- <a href="#" class="btn">read more</a> -->
            </div>


        </div>

    </section>

    <!-- FAQ section ends -->
    <!-- car section starts -->

    <section class="car-list-container" id="car">
        <h3 class="heading">cars available</h3>
        <div class="wrapper">

            <div class="box">
                <img src="img/brezza1.avif" alt="">
                <div class="content">
                    <span class="cname">maruti</span>
                    <h3>Breeza</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>2500/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/nexon1.jpg" alt="">
                <div class="content">
                    <span class="cname">tata</span>
                    <h3>nexon</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>2200/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/grand_i10.avif" alt="">
                <div class="content">
                    <span class="cname">hyundai</span>
                    <h3>grand i10</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>1700/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/swift_dzire.avif" alt="">
                <div class="content">
                    <span class="cname">maruti</span>
                    <h3>swift dzire</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>2000/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/swift.avif" alt="">
                <div class="content">
                    <span class="cname">maruti</span>
                    <h3>swift</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>1900/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/Baleno2.webp" alt="">
                <div class="content">
                    <span class="cname">maruti</span>
                    <h3>baleno</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>2000/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/tiago_tata.avif" alt="">
                <div class="content">
                    <span class="cname">tata</span>
                    <h3>tiago</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>1800/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/ertiga.avif" alt="">
                <div class="content">
                    <span class="cname">maruti</span>
                    <h3>ertiga</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>2400/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>

            <div class="box">
                <img src="img/grand i10 Nios.avif" alt="">
                <div class="content">
                    <span class="cname">hyundai</span>
                    <h3>grand i10 nios</h3>
                    <div class="car-details">
                        <div class="price"><span>price: </span>1800/-</div>
                        <div class="price"><span>fuel: </span>petrol</div>
                        <div class="price"><span>transmission: </span>manual</div>
                        <!-- <div class="price"><span>price: </span>2200/day</div> -->
                    </div>
                    <div class="tag">safe drive with whroom</div>
                </div>
            </div>




        </div>

    </section>

    <!-- car section ends -->
    <!-- Contact section -->
    <section class="contact" id="contact">

        <h1 class="heading">Contact Us</h1>
        <div class="row">

            <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224567.72022951694!2d76.82493501332394!3d28.423160293725946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x2cf5fe8e5c64b1e!2sGurugram%2C%20Haryana!5e0!3m2!1sen!2sin!4v1682284894123!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>



        </div>
        <br>
        <div class="box">
            <h2 style="color:blue;"<a href="#"> <i class="fas fa-phone"></i> +91-844-855-8667 </a><br></h2>
            <h2 style="color:blue;"<a href="#"> <i class="fas fa-phone"></i> +91-813-096-8130 </a><br></h2>
            <h2 <a style="text-transform: lowercase;" href="#"> <i class="fas fa-envelope"></i> support@whroom.in</a><br></h2>
            <h2 <a href="#"> <i class="fas fa-map-marker-alt"></i> Gurugram, india </a></h2>
        </div>

    </section>
    <!-- Contact section ends -->
    <!-- footer section -->

    <div class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#home"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#car"> <i class="fas fa-arrow-right"></i> cars </a>
                <a href="#services"> <i class="fas fa-arrow-right"></i> services </a>
                <a href="#faq"> <i class="fas fa-arrow-right"></i> faq </a>
                <a href="#contact"> <i class="fas fa-arrow-right"></i> contact </a>
            </div>

            <div class="box">
                <h3>contact us</h3>
                <a href="#"> <i class="fas fa-phone"></i> +91-844-855-8667 </a>
                <a href="#"> <i class="fas fa-phone"></i> +91-813-096-8130 </a>
                <a style="text-transform: lowercase;" href="#"> <i class="fas fa-envelope"></i> support@whroom.in</a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Gurugram, india </a>

            </div>

            <div class="box">
                <h3>social links</h3>
                <a href="https://www.instagram.com/whroom/" target="_blank"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            </div>

        </div>

    </div>
    <!-- footer section ends -->
    <!-- Custome javaSCript files -->
   
	<script src="~views\scripts\script.js"></script>
</body>

</html>