
    .inputType

{
    background-color: #fff;
    background-image: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #d6d4d4;
    border-left: 0;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
    width: 406px;
    box-sizing: border-box;
    height: 41px;
    color: #161616;
    font-size: 14px;
    overflow: hidden;
    font-family: open sans;
}

.dropdown {
    display: none;
}

.static {
    width: 50%;
    background-color: #fff;
    float: left;
}

.wh_top {
    background-color: transparent;
    border-bottom: double darkred;
    position: relative;
    top: 0px;
    width: 100%;
    height: 35rem;
}

.wh_back_img {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../data/other_img/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.wh_nav_data1 {
    position: absolute;
    top: 0px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 10px;
    z-index: 2;
}

    .wh_nav_data1 img {
        width: 100px;
        margin: 20px;
    }

.wh_bg_text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.wh_btn1 {
    background-color: orangered;
    border: none;
    font-size: white;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    color: white;
    z-index: 2;
    position: relative;
    top: 45px;
}


    .wh_btn1:hover {
        background-color: green;
        color: white;
        cursor: pointer;
    }




.wh_nav_open {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    margin: 20px;
}

    .wh_nav_open:hover {
        background-color: transparent;
        color: green;
        cursor: pointer;
        animation-name: wh_nav_btn;
        animation-duration: 1s;
        z-index: 2;
    }

@keyframes wh_nav_btn {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 180deg;
    }
}



.facebook:hover {
    background: #3B5998;
    color: white;
}

.twitter:hover {
    background: #55ACEE;
    color: white;
}

.google:hover {
    background: #dd4b39;
    color: white;
}

.linkedin:hover {
    background: #007bb5;
    color: white;
}

.youtube:hover {
    background: #bb0000;
    color: white;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}

.wh_icon_bar {
    position: absolute;
    top: 5%;
    left: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .wh_icon_bar a:hover {
        animation-name: wh_soc_btn;
        animation-duration: 1s;
        z-index: 2;
    }

@keyframes wh_soc_btn {
    to {
        font-size: 30px;
    }
}

.wh_icon_bar a {
    background-color: #000;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    float: left;
}

.wh_nav_content {
    position: absolute;
    top: 5%;
    right: 0%;
    font-size: 30px;
    transition: 0.7s;
    width: 0;
    height: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .wh_nav_content i {
        padding-left: 20px;
    }

        .wh_nav_content i:hover {
            opacity: 0.4;
            cursor: pointer;
        }

.wh_page2 {
    width: 50%;
    position: relative;
    left: 25%;
    z-index: 2;
    color: brown;
}

.tablinks {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    float: left;
    width: 100px;
    margin: 0px 50px 0px 0px;
}

    .tablinks:hover {
        color: brown;
    }

.wh_opt1::before {
    content: "All";
    position: absolute;
    padding: 40px 10px 0px 3px;
    font-size: 15px;
    transform: translateX(0%);
}

.wh_opt2::before {
    content: "Road Trip";
    position: absolute;
    padding: 40px 50px 0px 0px;
    font-size: 15px;
    transform: translateX(-15%);
}

.wh_opt3::before {
    content: "Petrol";
    position: absolute;
    padding: 40px 50px 0px 0px;
    font-size: 15px;
    transform: translateX(-15%);
}

.wh_opt4::before {
    content: "Automatic";
    position: absolute;
    padding: 40px 50px 0px 0px;
    font-size: 15px;
    transform: translateX(-20%);
}

.wh_opt5::before {
    content: "Cruise Control";
    position: absolute;
    padding: 40px 50px 0px 0px;
    font-size: 15px;
    transform: translateX(-25%);
}

.wh_opt6::before {
    content: "Luxury Car";
    position: absolute;
    padding: 40px 50px 0px 0px;
    font-size: 15px;
    transform: translateX(-20%);
}

.tablinks img {
    width: 50%;
}


.wh_book_cab {
    font-size: 30px;
    color: orange;
    text-decoration: none;
}

    .wh_book_cab:hover {
        color: orangered;
    }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    position: relative;
    left: 10%;
    width: 70%;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 16px;
        transition: 0.3s;
    }

        .tab button.active {
            color: brown;
        }

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    padding: 40px;
}

.wh_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: left;
    font-family: arial;
    float: left;
    margin: 20px;
    max-height: 450px;
    border-left: solid 2px lightgray;
    border-right: solid 2px lightgray;
}

    .wh_card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        cursor: pointer;
    }

    .wh_card h4 {
        padding-left: 10px;
        font-weight: bold;
    }

    .wh_card p {
        padding-left: 10px;
    }

.wh_price {
    color: black;
    font-size: 17px;
    margin: 0px;
}

    .wh_price s {
        color: grey;
    }

.wh_card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .wh_card button:hover {
        opacity: 0.7;
    }

.wh_price b::before, s::before {
    content: "₹";
}

.wh_txt_cont span::before {
    content: "●";
}

.wh_txt_cont span {
    color: gray;
}

.wh_card sup {
    font-size: 10px;
}

.wh_card sub {
    position: relative;
    top: -4px;
    color: red;
}

.wh_tagline {
    color: grey;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    width: 100%;
    background-color: lightgray;
    position: relative;
    text-align: center;
    font-size: 11px;
    bottom: 0px;
}

.wh_star_card {
    color: orange;
    font-size: 25px;
    padding-left: 5px;
    margin: 0px;
    position: relative;
    top: 10px;
}

.wh_card_link_opt {
    font-size: 12px;
}

    .wh_card_link_opt a {
        font-size: 17px;
        float: right;
        margin: 0px 20px 0px 0px;
        text-decoration: none;
        border: solid 2px;
        border-radius: 10px;
        color: grey;
        background-color: whitesmoke;
    }

        .wh_card_link_opt a i {
            color: darkgreen;
        }

        .wh_card_link_opt a:hover {
            opacity: 0.5;
        }

.wh_card img {
    width: 100%;
    height: 170px;
}


.wh_head_word {
    text-align: center;
    font-weight: bolder;
}


.wh_infolink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    border-bottom: solid 3px gray;
}

    .wh_infolink:hover {
        background-color: #777;
    }


.wh_infotabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#service {
    background-color: #585D52;
}

#help {
    background-color: #585D52;
}

#Contact {
    background-color: #585D52;
}

#About {
    background-color: #585D52;
}

.wh_service_site {
    text-align: center;
}

    .wh_service_site span {
        float: left;
        padding-left: 5%;
        padding-top: 10px;
        padding-right: 10%;
    }

#help p a {
    text-decoration: none;
}

    #help p a:hover {
        padding-left: 100px;
        transition: 0.5s;
    }

.wh_bar_img {
    width: 150px
}

.map {
    width: 100%;
    height: 450px;
    border: 0;
}

.wh_small_form input[type=number] {
    width: 100%;
    padding: 10px;
}

.wh_small_form input[type=submit] {
    float: right;
    padding: 10px;
    border: none;
    color: white;
    background-color: orangered;
    margin-top: 20px;
}

.wh_small_form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#myBtn_top {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

    #myBtn_top:hover {
        background-color: #555;
    }