
    .inputType

{
    background-color: #fff;
    background-image: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #d6d4d4;
    border-left: 0;
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
    width: 406px;
    box-sizing: border-box;
    height: 41px;
    color: #161616;
    font-size: 14px;
    overflow: hidden;
    font-family: open sans;
}

.dropdown {
    display: none;
}

.static {
    width: 50%;
    background-color: #fff;
    float: left;
}

